:root{
    --fondoCards: #415372;
}

.gradient-custom {
    background: linear-gradient(to right, #181818, #415372)
}

.navBack{
    background-color: var(--fondoCards);
}

.footer {
    bottom: 0;
    padding: 20px calc(1.5rem * 0.5);
    width: 100%;
    background-color: var(--fondoCards);
  }